<app-menu></app-menu>

@let chienList = chiens();
<div class="list">
  <div class="listChien">
    @for (chien of chienList; track $index) {
    <app-chien-card class="card" [chien]="chien" (click)="openChienModal(position, chien)"></app-chien-card>
    }
  </div>
</div>

<p-dialog
  [header]="'Chien disponible à l\'adoption'"
  [dismissableMask]="true"
  [breakpoints]="{
    '4500px': '60vw',
    '2000px': '60vw',
    '1200px': '80vw',
    '600px': '100vw'
  }"
  [modal]="true"
  [resizable]="true"
  [(visible)]="chienVisible">
  @let selectedChien = chien(); @if (selectedChien){
  <app-chien-modal [chien]="selectedChien"></app-chien-modal>
  }
</p-dialog>
