<div class="acceuil__container">
  <h1 class="acceuil__title">Bienvenue à toi</h1>

  <h2 class="acceuil__soustitre">Qui suis-je ?</h2>

  <div class="acceuil__présentation">
    <p>
      Bonjour à toi petit curieux, je me présente, je suis Napoléon et j'ai créé le refuge car je suis un homme bon. Je n'ai pas hésité à changer cet
      ancien terrain de foot, en un havre de paix pour chiens maltraités et/ou abandonnés. Toi aussi tu as l'air d'être une personne généreuse puisque
      tu as cliqué sur le site, mais ce n'est pas fini. Tu n'as fait que la moitié du boulot, il te faut choisir un chien qui mérite amour et
      compagnie. En te souhaitant une bonne visite sur le site.
    </p>
    <img src="assets/Napoleon.png" alt="Napoleon" class="acceuil__icon" />
  </div>

  <div class="acceuil__chiffres">
    <h2 class="acceuil__soustitre">Quelques chiffres</h2>
    <div class="chiffre-container">
      <div class="chiffre-card">
        <h3 class="chiffre-titre">100.000</h3>
        <p>Soit le nombre de d'abandon, chaque année, d'animaux de compagnie dans notre beau pays. Et on se dit civilisé ?</p>
      </div>
      <div class="chiffre-card">
        <h3 class="chiffre-titre">74j 3h et 26min</h3>
        <p>C'est le temps moyen que nos chiens passent chez nous.</p>
      </div>
      <div class="chiffre-card">
        <h3 class="chiffre-titre">72 ans</h3>
        <p>Soit la durée de séjour de Brigitte chez nous... Personne n'en veut, elle est immortelle.</p>
      </div>
    </div>
  </div>
</div>
