:host ::ng-deep p-tab .pi {
  margin-right: 0.5rem;
}

:host ::ng-deep p-tab .fa {
  margin-right: 0.5rem;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f6f7f2;
}
