<app-menu></app-menu>
<app-dashboard-menu></app-dashboard-menu>

<div class="header-bar">
  <div class="add-button">
    <p-button type="button" (onClick)="openForm()" label="Ajouter" />
  </div>

  <div class="search-input">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-search"></i>
      </p-inputgroup-addon>
      <input pInputText type="search" [value]="searchTerm()" (input)="searchTerm.set($any($event.target).value)" placeholder="Rechercher" />
    </p-inputgroup>
  </div>
</div>

<div class="table">
  <p-table [value]="(sexes$ | async | FilterArray : searchTerm() : 'name')!" [rows]="10" [paginator]="true" [scrollable]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Sexe</th>
        <th class="right">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-sexe>
      <tr>
        <td>{{ sexe.name }}</td>
        <td class="buttons">
          <p-button type="button" icon="pi pi-pencil" (click)="openForm(sexe)" />
          <p-button type="button" icon="pi pi-trash" (onClick)="delete(sexe)" />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog></p-confirmDialog>

<p-toast></p-toast>

<p-dialog [header]="sexeForm ? 'Modifier les informations' : 'Ajouter un sexe'" [(visible)]="formVisible">
  <app-form-sexe [sexe]="sexeForm" (validate)="addOrUpdateSexe($event)"></app-form-sexe>
</p-dialog>
